.modalContent {
    position: fixed;
    top: 0;
    width: 50%;
    left: 25%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 0 3px black;
    z-index: 1;
}

.menuButton {
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    z-index: 3;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    transition: background-color 0.2s ease, color 0.2s ease, right 0.5s ease, left 0.5s ease;
    font-size: 30px;
}

.menuButton.prof {
    right: auto;
    left: 0;
}

.menuButton.prof.active {
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.menuButton.active {
    right: 50%;
    transform: translateX(50%);
    top: 10px;
}

.links {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color);
    z-index: 0;
    transition: right 0.2s ease, z-index 0.2s ease;
}

.profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    z-index: 0;
    transition: left 0.2s ease, z-index 0.2s ease;
}

h1 {
    margin: 0;
    padding-top: 20px;
    font-size: 35px;
    text-align: center;
    color : black;
    font-family: inherit;
    font-weight: 600;
}

h2 {
    margin: 0;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
    color : black;
    font-family: inherit;
    font-weight: 400;
}

hr {
    width: 75%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

p {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    font-size: 20px;
    color: black;
}

.profileImage {
    width: 75%;
    max-width: 400px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid black;
}

@media (min-width: 768px) {
    .menuButton:hover {
        background-color: rgba(0, 0, 0, 1);
        color: var(--main-color);
    }
}

@media (max-height: 768px) {
    .profileImage {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .menuButton {
        background-color: transparent;
        color: black;
    }

    .menuButton:active {
        background-color: rgba(0, 0, 0, 1);
        color: var(--main-color);
    }

    .modalContent {
        width: 100%;
        left: 0;
    }
    .links {
        width: 100%;
        right: -100%;
        z-index: 2;
        box-shadow: inset 0 0 0 3px black;
    }
    .links.open {
        right: 0;
    }
    .profile {
        width: 100%;
        left: -100%;
        z-index: 2;
        justify-content: end;
        box-shadow: inset 0 0 0 3px black;
    }
    .profile.open {
        left: 0;
    }
}