:root {
  font-family: EB Garamond, Georgia, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* --main-color: #bfdaa4; */
  /* --main-color: rgba(253, 241, 204, 1); */
  --main-color: #dab8a4;
  /* --main-color: #ffffff; */

  color-scheme: light;
  color: #213547;
  background-color: var(--main-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



table {
  border-spacing: 20px;
}